<%- include("header")-%>
<h2>This is the about page</h2>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem quidem at
  magnam ipsa dicta numquam, laudantium iusto eius aut, facilis consequatur
  natus suscipit, illum ipsam! Autem accusamus atque nostrum voluptatem!
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
  voluptatem totam nostrum sequi sapiente sit repudiandae magnam minima culpa
  commodi officia sunt nulla quaerat ducimus sint ipsa deleniti accusamus
  architecto.
</p>

<%- include("footer")-%>
